@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');

.logo {
  font-family: 'Franklin Gothic Book', cursive;
  letter-spacing: 3px;
  color: rgb(230, 216, 187);
}

.fancy-title {
  font-family: 'Knewave', cursive;
  font-size: 48px;
}

.signin-layout {
  background-color: $primary-color;
}


.jello-topbar {
  background-color: $secondary-color;
}
.jello-Topbar {
  background-color: $secondary-color;
}

.jello-user {
  font-size: 8px;
  margin-bottom: 0px!important;
  text-align:right;
}

.jello-board-tile {
  margin: 20px 20px 0px 0px ;
  .v-card__subtitle {
    font-size: 8px;
  }
}
